doctype
html
  head
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Dosis:400,600,800|Muli:400,300' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/main.css")
  body
    != yield