#header
  .navbar.navbar-static-top.navbar-default
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Destroying Vihllains
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li 
          a.page-link(href='#headline') HOME
        li 
          a.page-link(href='#about-us') ABOUT US
        li 
          a.page-link(href='mailto://abric.smarcel@gmail.com') CONTACT
  #headline
    h1 comic book made to help kids
  #available
    h4 AVAILABLE ONLINE IN:
    .language
      .comic
        a.comic-link(href='#') PORTUGUÊS
    .language
      .comic
        a.comic-link(href='#') ENGLISH
#stats
  .stats-container
    .stat
      img.img-stat(src='./img/hand.svg')
      .label 3 volunteers
    .stat
      img.img-stat(src='./img/multimedia.svg')
      .label 2 languages
    .stat
      img.img.img-stat(src='./img/two.svg')
      .label 120 kids affected
#page
  #about-us
    h4.title About us
    #container
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam officia rem porro aperiam iste neque ipsa sit optio dolore, molestiae harum provident fugiat nam eaque incidunt cupiditate quisquam omnis! Quia.

      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores qui, consequuntur veritatis nesciunt architecto molestias reprehenderit suscipit assumenda debitis neque facere voluptates nulla quasi amet, consectetur vero fugit, explicabo velit.
      
      iframe(class='about-video',width='100%',height='480', src='https://www.youtube.com/embed/mxwmg_6_3jY', frameborder='0', allowfullscreen='allowfullscreen')
